

body {width: 100%;
  padding: 0;
  margin: 0 auto;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #777777;
  background-image: url("../images/concrete.png");
}

.contentspace {
	width: 960px;
	margin: 0 auto;
}


.headerspace {
	position:fixed;
    height:92px;
    background:#ffffff;
    border:1px solid #CCC;
    width:100%;
    margin:0 auto;
    top: 0px;
    z-index: 5;
}

#links {float: right; 
	width: 270px;
	height: 50px;
  background: #ffffff;
  text-align: center;
	padding-top: 20px;
	margin-top: 20px;
  word-spacing: 10px;
}

a {text-decoration: none;
  color: #777777;
}
p {overflow-wrap: auto;
  }

.sidebar { 
	float: right; 
	width: 30%;
  	margin: 120px 0px 100px 0px;
  	background: #ffffff;
  	padding:10px 20px 10px 20px;
    border:1px solid #e6e6e6;
  
  }

#marek {
	float:left;
	height: 60px;
	width: 300px;
	color: #ffffff;
	background-color: #4aaaa5;
	text-align: center;
	padding-top: 30px;
	margin:0px 0px 0px 0px;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
  font-size: 32px;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
  font-size: 24px;
}	



.about {
	 float: left;
  	width: 60%;
  	margin: 120px 0px 90px 0px;
  	background: #ffffff;
  	padding:20px 20px 20px 20px;
    border:1px solid #e6e6e6;
    display:block;
    overflow:auto;
}

#self {
	float:left;
	padding: 0px 20px 20px 0px;
}

hr {margin-top: 0.5em;
    margin-bottom: 1.5em;
	}




footer { 
  z-index: 10;
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: #777777;
  width: 100%;
  color: #dddddd;
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #4aaaa5;
  font-size: 10px;
  padding-top: 15px;

}

#formfields1 {
  height:30px;
  width: 100%;
}
#formfields2 {
  height:200px;
  width: 100%;
}

#button {
  height:30px;
  width: 150px;
  background-color: #4aaaa5;
  color: #ffffff;
  border:0px;
}
.box {
  float: left;
  width: 250px;
  height: 200px;
  margin: 15px;
}

.relative {position:relative;}

.boxgrid {
  width:570px;
  margin:30px;
}

.photolabel {position: relative;
    z-index: 2;
    top: -100px;
    left: 0px;
    color: #ffffff;
    height:40px;
    width: 250px;
    background-color: #4aaaa5;
    text-align: center;
    padding-top: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
  }

/*  Media Queries*/

@media screen and (max-width: 980px) {
    body {width: 100%;}
  
    }



@media screen and (max-width: 768px) {
    body {width:100%;}
  
    .about {width: 100%;
            margin:20% 1% 10% 1%;}

    .sidebar {width: 100%;
              float:left;
              margin: 0% 1% 20% 1%;}
    .contentspace {width: 100%;}
    }


@media screen and (max-width: 640px) {
    .about {width: 100%;
          margin: 10% 1% 10% 1%;
          }
    #self {
        display: block;
         margin: auto;
          width: 75%;
          height:75%;
          float: none;
          }
    .sidebar {width: 100%;
              margin:0% 1% 20% 1%;
              float:left;}
    .headerspace {position: static;
              width:100%;
              margin: 0 auto;
              }
    .contentspace { width:100%;
              margin:0 auto;}


    #marek {width: 100%;}
    #links {width: 100%;
            margin-top: 0%;
            margin-bottom: 1%;}

    .boxgrid {width: 60%;
          margin: 0 auto;}

    body {width: 100%;
          margin:0 auto;}
  

  }
